<img class="center-block" src="/images/attack-hippo.gif">

<% @questions.each do |question| %>
  <ul>
    <li>
      <a href="/questions/<%= question.id %>"><%= question.title %></a>
      <span><%= question.answers.count %> answers </span>
      <!-- Number of votes -->
      <span><%= question.points %> points </span>
    </li>
  </ul>
<% end %>
