<center><h1>New Question</h1></center>
<center>
  <form action='/questions' method='post'>
    Title: <input type="text" name="question[title]">
    <p><textarea rows="5" cols="50" name="question[content]" maxlength="140">
    </textarea></p>
    <input type='submit' value='Ask It!'>
  </form>
</center>
