
<ul class="media-list">
    <% @question.comments.each do |comment| %>
      <li class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <!--<h4 class="media-heading">Media heading</h4>-->
          <%= comment.content %>
        </div>
      </li>

    <% end %>
</ul>

