<div class="row">
  <div class="col-xs-12">
    <form class="form-inline pull-right" action='<%= commentable_action %>' method='post'>
      <div class="form-group form-group-sm">
        <input class="form-control" type="text" name="comment[content]" placeholder="Leave a comment">
      </div>
      <button class="btn btn-sm btn-default" type='submit'>Comment On It!</button>
      </div>
    </form>
  </div>
</div>
