<center><h1>New Answer</h1></center>
<center>
  <form action='/answers' method='post'>
    <p><textarea rows="5" cols="50" name="answer[content]" maxlength="140">
    </textarea></p>
    <input type='submit' value='Answer It!'>
  </form>
</center>
